/* Style sheet for Linus website*/
nav * {
    padding: 0;
    margin: 0;
}

nav {
    font-family: Ubuntu;
    font-size: x-large;
    background-color: #E95420;
    height: 80px;
}

nav ul li {
    list-style-type: none;
    width: 150px;
    float: left;
    text-align: center;
    border-right: 2px solid white;
}

nav ul li a {
    text-decoration: none;
    color: white;
    line-height: 80px;
    display: block;
}

nav ul li a:hover {
    background-color: white;
    color: #E95420;
}


body {
    color: white;
    font-family: Ubuntu, arial;
    background-color: #2C001E;
}

body h2 {
    color: #E95420;
}

#header {
    text-align: center;
    color: #E95420;

}

#PageDescript {
    line-height: 2em;
    width: 400px;
    text-align: center;
}

#pagetext {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 80px;
}

#pagetext li {
    list-style-type: none;
}

#pagetext p {
    line-height: 2em;
    margin-left: 20px;
}

#pagetext h3 {
    color: #E95420;
    line-height: 1em;
}

#personaltext {
    font-size: large;
    line-height: 2em;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 80px;
}

#personaltext b {
    color: #E95420;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5E2750;
    color: #E95420;
    text-align: center;
}